header.header
<<<<<<< HEAD
    .header__top-line
        .container
            .header-logo
                a(href="#") 
                    img(src="img/logo.png", alt="")
            nav.header-mnu
                ul
                    li
                        a(href="#") Принцип работы   
                    li
                        a(href="#") Показания      
                    li
                        a(href="#") Виды тренажеров    
                    li            
                        a(href="#") Контакты 
            .header-call
                a(href="telto:+7(913)9389973") +7 (913) 938-99-73
                a(href="#").callBack
                    | Заказать звонок
            .mnu-trigger
                #nav-icon
                    span
                    span
                    span
    .header__intro-container
        .container
            .intro-title
                h1
                    | Сиденье <br>
                    span
                        | -тренажер
            .intro-form
                span.i-title
                    | для тренировки глубоких <br>
                    | мышц позвоночника
                .form-wrapper
                    .form-title
                        p Закажите сиденье для себя или ребенка <br>
                        span 31 декабря и получите скидку 20%!
                    form(action="/")
                        .form-controls
                            label.i-label(for="name")
                                input.i-name(type="text" placeholder="Имя")
                            label(for="name")
                                input.i-phone(type="text" placeholder="Телефон")
                        button(type="submit").callBack
                            | Получить тренажер по скидке
section.forWhom
    .container
        h2.title
            | Для кого создано
        span.sub-title
            | сиденье-тренажер?
        .forWhom-dscr
            p
                span.bold "Лечение движением" 
                | - суть действия тренажера, разработанного 
                |специально для людей, ведущих малоподвижный 
                |образ жизни. Это оптимальный выбор при 
                |ограниченных физических нагрузках, перенесенных 
                |травмах или просто хронической усталости.
        .forWhom-items.fl-l
            .forWhom-item
                .f-icon
                    img(src="img/whom-icon-1.png", alt="")
                .f-dscr
                    p.
                        Релакс и оздоровление прямо на 
                        рабочем месте за счет применения 
                        "Спина ОК" - реальность для 
                        руководителей и офисных сотрудников
            .forWhom-item
                .f-icon
                    img(src="img/whom-icon-3.png", alt="")
                .f-dscr
                    p.
                        Студенты и ученики могут использовать 
                        тренажер во время выполнения домашних 
                        заданий, установив его на любое кресло
        .forWhom-items.fl-r
            .forWhom-item
                .f-icon
                    img(src="img/whom-icon-2.png", alt="")
                .f-dscr
                    p.
                        Целый день за рулем при нехватке сил 
                        и времени на физические тренировки - 
                        больше не проблема для профессиональных 
                        водителей
            .forWhom-item
                .f-icon
                    img(src="img/whom-icon-4.png", alt="")
                .f-dscr
                    p.
                        Дачники и люди, чья работа связана 
                        с нагрузкой на спину, получают 
                        возможность восстановить 
                        силы естественным методом
                
section.itWorks
    .container
        h2.title
            | Как это работает?
        .forWhom-dscr
            p.
                Принцип работы "подвижного сиденья" 
                основан на исследованиях в области 
                кинезетерапии - лечении позвоночника 
                за счет стимуляции коротких мышц в 
                состоянии неустойчивого положения 
                тела. Таким образом восстановление 
                тонуса тканей происходит естественным 
                образом, без медицинского вмешательства, 
                а регулярные тренировки обеспечивают 
                длительный эффект.
        .itWorks-video
            .video-preview
                img(src="img/preview.jpg", alt="")
                .video-controls
                    .play-video
                        span
            span.preview-title
                | С. М. Бубновского
            span.preview-sub-title
                span.bold Сиденье рекомендовано врачами
                | - убедитесь в этом, посмотрев видео отзыв доктора медицинских наук С. М. Бубновского
        .itWorks-info
            .info-title
                p.
                    Действие сиденья-тренажера отличается от эффекта, которое <br> дают физические упражнения, массаж и другие методы стимуляции <br> активности вестибулярного аппарата рядом особенностей.
            ul
                li Короткие мышцы позвоночника находятся под слоем других тканей и недосягаемы при массаже. Балансирующие движения во время использования сиденья приводят к естественному восстановлению их тонуса.
                li Именно этими мышцами управлять осознанно человек не способен, что делает невозможным полную проработку позвоночника с помощью тренировок в спортзале.
                li Мускулатура позвоночника "запоминает" форму, в которой находится продолжительное время. За счет этого свойства вы получите длительный эффект от регулярного применения тренажера. 

section.modal-section
    .container
        h2
            | Узнайте больше о применении сиденья-тренажера - 
        span
            | получите бесплатную консультацию специалиста!
        a.callBack(href="#")
            | Получить консультацию

section.problems
    .container
        h2.title
            | Какие проблемы решает
        span.sub-title
            | универсальный тренажер?
        .forWhom-dscr
            p.
                Благодаря ускорению обменных 
                процессов налаживается питание 
                костей и хрящевых тканей, что оказывает 
                комплексное положительное воздействие 
                на весь организм - от устранений 
                первопричин хронических болезней до 
                повышения продуктивности и постоянного 
                заряда бодрости.
        .problems-items
            .problems-item
                .problems-img.fl-l
                    img(src="img/photo-1.jpg", alt="")
                    .number
                        span
                            | 01
                    span.number-br
                        | 01
                .problems-dscr.fl-r
                    ol
                        li Положительно влияет на работу нервной системы и способствет улучшению зрения
                        li Помогает справиться с ишемичной болезнью и варикозным расширением вен
                        li Является эффективным методом профилактики и лечения остеохондроза и сколиоза в любом возрасте
                        li Питает ткани и препятствует образованию межпозвонковых грыж всех отделов позвоночника
                        li Эффективное противодействие простатиту, геморрою, варикозному расширению вен, воспалению мочеполовых органов
                        li За счет иммитации верховой езды формирует мышечный корсет спины и крепкую опору для позвоночника
            .problems-item
                .problems-img.problems-img-2.fl-r
                    img(src="img/photo-2.jpg", alt="")
                    .number
                        span
                            | 02
                    span.number-br
                        | 02
                .problems-dscr.fl-l
                    ol(start="7")
                        li Устраняет боли в спине, чувство зажатости в мышцах после рабочего дня
                        li Корректирует осанку, снимая нагрузку с межпозвоночных дисков
                        li Избавляет от сколиоза, радикулита, остеохондроза, грыжи межпозвонковых дисков
                        li Предотвращает гинекологические и мужские заболевания за счет усиления кровообращения в тазовом дне
                        li Снимает хроническую усталость, улучшает сон и самочувствие
                        li Компенсирует дефицит движений, восстанавливает после травм и операций


.itWorks-video-popup
    .container
        .popup-close
            img(src="img/close.png", alt="")
        iframe#video(width='560', height='315', src='https://www.youtube.com/embed/RmaQaqssUgk?rel-0', frameborder='0', allowfullscreen='')
    
=======
    h1 header
>>>>>>> 2a646982bed2ccc4508444e92606393d71e92c3c
